#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
    display: none;
}
  
#barcode-scanner canvas, #barcode-scanner video {
    width: 50%;
    height: auto;
    margin: auto;
}