<!--
Page de création de compte
-->
<template name="signUp">
    <form class="boxSignUpIn secondaryBodyBox formSignup">
        <h3>Email</h3>
        <input type="email" name="emailUt" id="emailUt" class="form-control" placeholder="exemple@unil.ch" required>
        <small class="form-text text-muted">Assurez-vous que votre adresse email finisse en @unil.ch</small>
        <br>
        <h3>Mot de passe</h3>
        <input type="password" name="mdpUt" id="mdpUt1" class="form-control" placeholder="******" required>
        <small class="form-text text-muted">Minimum 6 caractères</small>
        <br>
        <h3>Confirmer le mot de passe</h3>
        <input type="password" name="mdpUt" id="mdpUt2" class="form-control" placeholder="******" required>
        <small class="form-text text-muted">Confirmer le mote de passe</small>
        <br>
        <button type="button" class="btn btn-secondary boutonLoris" id="creationCompte">Créer un compte !</button>
        <button type="button" class="btn btn-primary boutonLoris" id="annuler">Annuler</button>
    </form>
</template>