<!--
Page d'accueil pour se connecter ou créer un compte
-->
<template name="welcome">
    <div class="secondaryBodyBox">
        <h3>Présentation</h3>
        <div>
            Bienvenue dans uniBooks : la bourse au livre automatisée pour les étudiantes et les étudiants de l'UNIL ! <br>
            Créez un compte ou connectez-vous pour accèder au service.
        </div>
        <div id="boutonsAccueil">
            <button type="button" class="btn btn-secondary boutonLoris" id="seConnecter">Se connecter</button>
            <button type="button" class="btn btn-primary boutonLoris" id="creerCompte">Créer un compte !</button>
        </div>
    </div>
</template>